body {
  font-family: roboto, sans-serif;
}
.header {
  background-color: #ffffff;
}
.header_nav {
  background-color: #ffffff;
}

.header_logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
}
.header_logo2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}
.header_logo2:is(:hover, :focus) {
  color: #4d5ae5;
  text-decoration: underline #4d5ae5;
}
.header_list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.header_link {
  width: 48px;
  height: 24px;
}
.header_link:is(:hover, :focus) {
  color: #404bbf;
  text-decoration: underline #404bbf;
}
.header_mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header_mail:is(:hover, :focus) {
  color: #404bbf;
}
.list {
  list-style: none;
  text-decoration: none;
}
.header_phone {
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.header_phone:is(:hover, :focus) {
  color: #404bbf;
}
/*------------------HEROSECTION------------------*/
.hero_section {
  background: #2e2f42;
}
.hero_section_tytle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */
  color: #ffffff;
}
.hero_btn {
  background: #4d5ae5;
  /* Button Text */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* WHITE */

  color: #ffffff;
}
.hero_btn:is(:hover, :focus) {
  background-color: #404bbf;
}
.section_2_tytle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_2_item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section_3_tytle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.section_4_tytle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.section_4_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.section_4_proffession {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer_logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17x;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_logo2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
}
.portfolio_btn:is(:hover, :focus) {
  background: #404bbf;
  color: #ffffff;
}
.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio_desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
